// Reusable mixin rules

// Cross browser properties

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

// Breakpoints

smallsmartphoneWidth = 479px
smartphoneWidth = 767px
tabletWidth = 959px
desktopWidth = 1199px

smphone = 'only screen and (max-width: ' + smallsmartphoneWidth + ')'
mobile = 'only screen and (max-width: ' + smartphoneWidth + ')'
tablet = 'only screen and (max-width: ' + tabletWidth + ')'
desktop = 'only screen and (max-width: ' + desktopWidth + ')'

mobile-up = 'only screen and (min-width: ' + (smartphoneWidth + 1) + ')'
tablet-up = 'only screen and (min-width: ' + (tabletWidth + 1) + ')'
desktop-up = 'only screen and (min-width: ' + (desktopWidth + 1) + ')'

clearfix()
	&:before,
	&:after
		display table
		content ' '
	&:after
		clear both
