*
	font-family $font-main
	font-weight 400
	box-sizing border-box
	color $color-text

b,
strong
	font-weight 700

i,
a,
span
	color inherit

h1
	font-family $font-main
	font-weight 300

h2,
h3,
h4,
h5,
h6
	font-family $font-heading
	font-weight 300
	margin 0

.h1
	@extend h1
.h2
	@extend h2
.h3
	@extend h3
.h4
	@extend h4
.h5
	@extend h5
.h6
	@extend h6

.reset
	margin 0
	padding 0
	outline 0
	border 0

html, body
	@extend .reset
	overflow-x hidden

img
	@extend .reset

a, a:active, a:focus
	text-decoration none

a:hover
	text-decoration underline

p
	a
		text-decoration underline

blockquote
	background #f1f1f1
	border-radius 5px
	padding 5px 25px 20px
	margin 15px 10px

	p
		margin 0

.wrap
	position relative
	width $wrap-width-mobile
	margin 0 auto
	padding-left $wrap-padding-mobile
	padding-right $wrap-padding-mobile

	@media mobile-up
		padding-left $wrap-padding-desktop
		padding-right $wrap-padding-desktop

	@media tablet-up
		width $wrap-width-desktop

.decor
	pointer-events none

@media mobile
	.hide-mobile
		display none !important

	a:hover
		text-decoration none

@media mobile-up
	.hide-desktop
		display none !important
