// General styling relating to anything in the layout
.page-heading,
.post-heading
  position relative
  text-align center
  margin-top 15px

  h1
    font-size 30px
    padding 10px 0 15px 0

// In-article general styling
.page-article
  h2,
  .h2
    margin-top 45px
    margin-bottom 25px

  p,
  li
    font-size 18px
    line-height 1.8em

  p
    margin-bottom 0

  ul
    margin-top 5px


// Footer
footer
  padding-top 30px

.footer-copyright
  display block
  text-align center
  font-size 12px
  color #aaa
